<% if obj.errors.present? %>
	<div id="errors">
		<h3 id="error_warning">エラーがあります。</h3>
		<ul>
			<% obj.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
